@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .container-padding {
        @apply px-10 md:px-14 lg:px-20;
    }
}

html, body, #__next, #root {
    min-height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('/v2-Background-clean.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: 100% 100%;
}

.bubble-anim {
    opacity: 0;
    transform: scale(0.85);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.bubble-anim.show {
    opacity: 1;
    transform: scale(1);
}
