.nav-links { display: none; }
.menu-toggle { display: none; }
.mobile-cta { display: none; }

@media (max-width: 950px) {
     .menu-toggle { display: inline-flex !important; }
     .nav-links { display: none !important; }
     .mobile-cta { display: block !important; }
}

@media (min-width: 951px) {
     .nav-links { display: flex !important; }
     .menu-toggle { display: none !important; }
}